body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
footer {
    display: flex;
    justify-content: space-around;
    
    padding: 20px 20px;
}
.footer1{
    padding: 20px;
    background-size: 100px 100px;
    background-color: rgb(15, 207, 15);
    border-radius: 50%;

}
    .footer-img{border-radius: 30%;}

.logo{
    text-align: center;
    margin-bottom: 50px;
}

.password{
    text-align: right;
}
nav ul { 
    list-style-type: none;
    padding: 0;
    background-color: #4CAF50;
    overflow: hidden;
    margin: 0;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: cursive;
}
nav li a:hover {
    background-color: #45a049;
}
nav{
    margin-bottom: 20px;
}
.form-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(139, 226, 139);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px ;
}
.form-container div {
    margin-bottom: 15px;
    padding: 10px;
}
.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-container input, .form-container textarea {
    width: 100%;
    padding: 10px;
    border: 3px solid white;
    border-radius: 5px;
}

.form-container .submit {
    width: 100%;
    padding: 10px;
    background-color: rgb(51, 173, 51);
    border: 3px solid white;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    cursor: pointer;

}
.form-container button:hover {
    background-color: rgb(213, 228, 213);
}
.login{
    background-color: white;
}
